<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="home">Incresto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" (click)="isCollapsed = !isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="about" (click)="isCollapsed = !isCollapsed">About Me</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="blog" (click)="isCollapsed = !isCollapsed">Blogs</a>
      </li>
      <div *ngIf="af.authState | async; let user; else showLogin">
        <li class="nav-item active">
          <a class="nav-link" (click)="logout()" (click)="isCollapsed = !isCollapsed">Logout</a>
        </li>
      </div>
      <div *ngIf="af.authState | async; let user;">
        <li class="nav-item active">
          <a class="nav-link" routerLink="create"(click)="isCollapsed = !isCollapsed" >Create</a>
        </li>
      </div>
      <ng-template #showLogin>
        <li class="nav-item active">
          <a class="nav-link" routerLink="login" (click)="isCollapsed = !isCollapsed">Login</a>
        </li>
      </ng-template>

    </ul>

  </div>
</nav>
