<div *ngIf="posts" class="top-padding">
  <div class="container">
    <div *ngFor="let post of posts">
      <div class="card card-shadow rounded-corners">
        <img class="card-img-top rounded-img-corners" src="{{ post.thumbnailLink }}" alt="Card image cap">
        <div class="card-block px-auto py-auto">
          <a routerLink="{{ post.id }}">
            <p class="card-text" style="text-align: center">{{ post.title }}</p>
          </a>
          <div Markdown>
            <p class="card-text" style="text-align: center">{{ post.content }}</p>
          </div>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>